# === Frontend ===
/frontend/node_modules
/frontend/.pnp
/frontend/pnp.js
/frontend/coverage
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# === Backend ===
/backend/node_modules
/backend/.env
/backend/*.log
backend/keys/gemini-service-account.json

# === Misc / OS ===
.DS_Store
Thumbs.db
